name: 'CI'
on:
  push:
    branches:
      - '*'
      - '!main'


jobs:
  transpile:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install and transpile
      run: npm install
    - name: Update /dist
      uses: EndBug/add-and-commit@v9
      with:
        add: 'dist src/git.json'
        message: 'Rebuild'


  defaults:
    needs: transpile
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        cache: [true, false]
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: setup-swig
      uses: ./
      with:
        cache: ${{ matrix.cache }}
        verbose: true

    - name: Verify
      run: |
        swig -version
        swig -javascript -napi -c++ test/example.i


  version:
    runs-on: ${{ matrix.os }}
    needs: transpile
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        cache: [true, false]
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: setup-swig
      uses: ./
      with:
        version: v4.1.0
        cache: ${{ matrix.cache }}
        verbose: true

    - name: Verify
      run: swig -version


  jse:
    needs: transpile
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        cache: [true, false]
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: setup-swig
      uses: ./
      with:
        branch: jse
        cache: ${{ matrix.cache }}
        verbose: true
        build: true

    - name: Verify
      run: |
        swig-jse -version
        swig-jse -javascript -napi -c++ test/example.i


  jse-main:
    needs: transpile
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        cache: [true, false]
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: setup-swig
      uses: ./
      with:
        branch: jse
        version: main
        cache: ${{ matrix.cache }}
        verbose: true

    - name: Verify
      run: |
        swig-jse -version
        swig-jse -javascript -napi -c++ test/example.i


  auth:
    needs: transpile
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        cache: [true, false]
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: setup-swig
      uses: ./
      with:
        branch: jse
        version: main
        cache: ${{ matrix.cache }}
        verbose: true
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Verify
      run: |
        swig-jse -version
        swig-jse -javascript -napi -c++ test/example.i


  binary:
    needs: transpile
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: setup-swig
      uses: ./
      with:
        branch: jse
        version: 5.0.9
        verbose: true
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Verify
      run: |
        swig-jse -version
        swig-jse -swiglib
        swig-jse -javascript -napi -c++ test/example.i
