name: 'Run'
on: [pull_request, push]

jobs:
  defaults:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: mmomtchev/setup-swig@first-run

    - name: Verify
      run: swig -version

  version:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: mmomtchev/setup-swig@first-run
      with:
        version: v4.1.0

    - name: Verify
      run: swig-jse -version


  jse:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: mmomtchev/setup-swig@first-run
      with:
        branch: jse

    - name: Verify
      run: swig-jse -version

